.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 170px;
  &-image {
    margin-left: 34px;
    flex: 1 0 auto;
    max-width: 510px;
    img {
      width: 100%;
    }
  }
  &-content {
    line-height: 1.875;
    h1 {
      font-size: 35px;
      line-height: calc(50 / 35);
      margin-bottom: 20px;
    }
    p {
        margin-bottom: 15px;
    }
    ul {
      li {
        display: flex;
        align-items: center;
        gap: 0 10px;
        font-size: 14px;
        line-height: 30px;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
      }
    }
  }
}
