.plan-selection {
    margin: 80px auto 150px auto;

    >h1 {
        font-size: 35px;
        line-height: 50px;
        text-align: center;
    }

    &__description {
        max-width: 550px;
        text-align: center;
        margin: 20px auto 60px auto;
        line-height: 30px;
        color: $text-color;
    }

    &__options {
        max-width: 1090px;
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 4.58%;

        &__item {
            flex-basis: 30.5%;
            padding: 79px 69px 50px 69px;
            display: flex;
            flex-flow: column nowrap;
            border: 2px solid $gray-lighter-color;
            border-radius: 10px;
            transition: ease 0.5s all;
            &:hover {
                transform: scale(1.1);
                border: 2px solid #f53855;
            }

            >h3 {
                margin: 30px 0;
                text-align: center;
            }

            >ul {
                width: 190px;
                margin-bottom: 90px;
                flex-grow: 1;

                li {
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 10px 19px;
                    align-items: center;

                    img {
                        width: 24px;
                        height: 24px;
                    }

                    >span {
                        font-size: 14px;
                        line-height: 30px;
                        flex-grow: 1;
                    }

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }

            &__price {
                font-size: 25px;
                line-height: 30px;
                text-align: center;
                margin-bottom: 20px;

                >span {
                    font-weight: 400;
                    color: $text-color;
                }
            }

            &__btn {
                padding: 13px 63px;
                color: #f53855;
                border: 2px solid #f53855;
                border-radius: 50px;
                font-weight: 700;
                line-height: 1rem;

                &:hover {
                    background-color: #F53855;
                    color: white;
                    position: relative;
                    z-index: 10;

                    &::after {
                        z-index: -1;
                        border-radius: inherit;
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 50%;
                        width: 90%;
                        height: 100%;
                        transform: translate(-50%, 50%);
                        background-color: rgba(245, 56, 56, 0.35);
                        filter: blur(27px);
                    }
                }
            }
        }
    }
}